@font-face {
  font-family: 'AclonicaRegular';
  src: url('../../app/assets/fonts/Aclonica/Aclonica-Regular.ttf');
}

.header {
  height: 100vh;
  background-image: url('../../app/assets/img/RodLofi-header.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7); 
  h1 {
    font-family: 'AclonicaRegular';
  }
  img {
    max-width: 30px;
  }
}