// styles/Musics.module.scss
.Musics {
    height: 100vh;
    .music {
        background-size: cover;
        background-position: center;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        padding: 0;
        max-height: 300px;

        img {
            max-width: 100%;
            z-index: 1;
        }

        &+.music {
            margin-left: 10px;
        }

        figcaption {
            margin-top: -40px;
            text-align: center;
            z-index: 999999;
            text-shadow: 1px 2px 2px rgba(255, 255, 255, 0.6);
          }
    }
}